<table class="table table-bordered">
  <caption>Client Summary</caption>
  <tbody>
    <tr>
      <td>Number of clients:</td>
      <td><%= @total_count == 0 ? @total_count : link_to(@total_count, clients_path) %></td>
    </tr>
  </tbody>
</table>

<div id="idleness_chart" data-url="<%= @idleness_data_url %>">
</div>
<div id="client_chart" data-url="<%= @client_data_url %>">
</div>

