<h1>Un-excluded Process Report</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Username</th>
      <th>Command</th>
      <th>Server Count</th>
    </tr>
  </thead>
  <tbody>
    <% # The output of sort is an array of two element arrays, each of those %>
    <% # two element arrays having a key and value from @process_counts. %>
    <% # For extra confusion, the keys of @process_counts are themselves %>
    <% # two element arrays of username and command. %>
    <%- @process_counts.sort_by{|key, value| value.size }.reverse.each do |key, value| -%>
    <tr>
      <td><%= key[:user] %></td>
      <td><%= key[:command] %></td>
      <% # Link to the clients using a search so that users can see the %>
      <% # hostname on mouse over.  That can be handy when scanning the %>
      <% # report and deciding which processes need further investigation. %>
      <% # Some sort of ERB weirdness is causing the <td> to disappear %>
      <% # unless I end this block of comments with a dash percent line. -%>
      <td><%= value.size %> <%= value.collect{|client| link_to('.', client)}.join('').html_safe %></td>
    </tr>
    <%- end -%>
  </tbody>
</table>
